{% extends "posts/base.html" %}
{% block title %}Один пост{% endblock %}
{% block header %}Запись пользователя {{ author.username }}{% endblock %}
{% block content %}
<main role="main" class="container">
        <div class="row">
                <div class="col-md-3 mb-3 mt-1">
                        <!-- ПРОФИЛЬ -->
                        {% include "posts/includes/profile_info.html" %}
                </div>
        
                <div class="col-md-9">
                        <!-- Пост -->  
                        {% include "posts/includes/post_block.html" %}
                        {% include "posts/includes/comments.html" %}
                </div>
        </div>
</main>
{% endblock %}